body {
  margin: auto;
  background-color:#CBE4EE;

}

title {
  color:#140E2C;
}

h1 {
  font-family: "Caveat",cursive;
  color:#140E2C;
  background-color:#3F7185;
  text-align:center;
  width: 100%;
  margin:auto;
  font-size: 600%;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
}

.navtags {
  padding: 20px;
  font-size:150%;
  background-color:#3F7185;
}

.navtags a {
  text-decoration: none;
  color:#ffffff;
}

.navtags a:hover {
  background-color:#1F2933;
  color: #FFFF00;
}

main {
  font-family:"BenchNine",sans-serif;
  color:#140E2C;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

aside {
  height: 30vh;
  display: inline;
  padding: 20px;
  width: 50%;
}


.centerindex {
  display: block;
  width: 40%;
  transform: rotate(90deg);
  margin-left: auto;
  margin-right: auto;

}

.comments {
  text-align:center;
  font-size:300%;
  color:#140E2C;
}

.footercomment {
  font-size:500%;
  text-align:center;
}

p {
  color:#140E2C;
}

.gallery {
  transform: rotate(90deg);
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

@media only screen and (max-width: 600px){
  ul {
    font-size: 0.5em;
  }

  .footercomment {
    font-size: 250%;
  }

  .comments {
    font-size: 150%;
  }
}

@media only screen and (max-width: 500px) {
     ul {
    display: block;
  }
}
